<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Private</title>
</head>
<body>
    <h3>Dashboard</h3>
    <p>You have been successfully logged in</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente autem perferendis qui necessitatibus eum, eos recusandae in maxime. Amet illo est ea soluta sit repudiandae mollitia libero eos consequuntur esse.</p>
    <p><a href="/login">log out</a></p>
</body>
</html>